@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar styling for that premium feel */
@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-sage-300 dark:bg-sage-700 rounded-full;
  }
}